body { color: #666666; background-color: #EAEAEA; background: linear-gradient(#FFFFFF, #90C7E3); font-family: Arial; } 
head { background-color: #EAEAEA; color: #FFFFFF; font-family: Georgia; height: 120px; background-position: right;} 
h1 { background-color: #002171; color: #FFFFFF; font-family: Georgia; background-repeat: no-repeat; height: 120px; background-position: right; padding-top: 0.5em; text-align: center; font-size: 3em; letter-spacing: 0.25em;} 
nav { font-weight: bold; padding-top: 0.5em; padding-right: 0.5em; padding-bottom: 0.5em;} 
h2 { color: #1976D2; font-family: Georgia; } 
dt { color: #002171; font-weight: bold; } 
.resort { color: #1976D2; font-size: 1.2em; } 
footer { font-size: .70em; font-style: italic; text-align: center; padding: 1em;} 
#wrapper { background-color: #FFFFFF; margin-left: auto; margin-right: auto; width: 80%; min-width: 960px; max-width: 2048px; box-shadow: 5px 5px grey; linear-gradient(#FFFFFF, #90C7E3);}
h3 { font-family: Georgia; }
main { padding-left: 2em; padding-right: 2em; }
#homehero { height: 400px; background-image: url(coast.jpg); background-repeat: no-repeat; background-size: 100% 100%; }
#yurthero { height: 400px; background-image: url(yurt.jpg); background-repeat: no-repeat; background-size: 100% 100%; }
#trailhero { height: 400px; background-image: url(trail.jpg); background-repeat: no-repeat; background-size: 100% 100%; }
nav a { text-decoration: none; }
* { box-sizing: border-box; }